<br>
<br>
<br>
<div id="output"></div>

<h1>Pinch Strength</h1>
<div id="pinch" style="height: 600px; width: 600px;"></div>

<h1>Grab Strength</h1>
<div id="grab" style="height: 600px; width: 600px;"></div>


<script type="text/javascript">



function concatData(id, data) {
  return id + ": " + data + "<br>";
}

var output = document.getElementById('output');
var frameString = "", handString = "";
// , fingerString = "";
var hand;
// , finger;

// Leap.loop uses browser's requestAnimationFrame
var options = {enableGestures: true};
// Main Leap loop
Leap.loop(options, function(frame) {
  frameString = concatData("frame_id", frame.id);
  frameString += concatData("num_hands", frame.hands.length);
  // frameString += concatData("frame_id", frame.fingers.length);
  frameString += "<br>";



  // hands
  for (var i=0, len=frame.hands.length; i<len; i++) {
    hand = frame.hands[i];
    handString = concatData("hand_type", hand.type);
    handString += concatData("pinch_strength", hand.pinchStrength);
    handString += concatData("grab_strength", hand.grabStrength);
    handString += concatData("confidence", hand.confidence);

    handString += "<br>";

    frameString += handString;
  }

  // getting data
  ps=[];
  gs=[];
  confidence=[];
  for (var i=0, len=frame.hands.length; i<len; i++) {
    hand = frame.hands[i];
    ps[i] = [i, hand.pinchStrength];
    gs[i] = [i, hand.grabStrength];
    confidence[i] = [i, hand.grabStrength];

    handString = concatData("hand_type", hand.type);
    handString += concatData("pinch_strength", hand.pinchStrength);
    handString += concatData("grab_strength", hand.grabStrength);
    handString += concatData("confidence", hand.confidence);

    handString += "<br>";

    frameString += handString;



  }


  // 60 fps
  // total_frames=frame.hands.length;
  // time=total_frames/60;
  // output
  output.innerHTML = frameString;
  // output.innerHTML = ps;
  // How to get data from a recording?
  // Or how to keep data from live movement?
  new Chartkick.LineChart("pinch", ps);
  new Chartkick.LineChart("grab", gs);
});

</script>
