%h1
.row
  .col-lg-12{style: 'text-align: center'}
    .well
      .hero-unit
        fdadsf
    = image_tag ''
.row
  .col-lg-6{style: 'text-align: center'}
    = link_to 'Review Exams', exams_path, class: 'btn btn-primary'
  .col-lg-6{style: 'text-align: center'}
    = link_to 'New Exam', new_exam_path, class: 'btn btn-primary'
