%h1 Exams
%table.table-striped
  %thead
    %tr
      %th Patient Name
      %th Exam Date
      %th Edit
      %th Delete
  %tbody
    - collection.each do |x|
      %tr
        %td= link_to x.patient, x
        %td= x.created_at.to_s(:stat)
        %td= link_to 'Edit', edit_exam_path(x)
        %td= link_to 'Delete', :method =>:delete, :data => {:confirm => "Are you sure?"}
