%h1 Review Exams
%table.table-striped.table-hover.table-bordered
  %thead
    %tr
      %th.col-md-5 Patient Name
      %th.col-md-5 Exam Date
      %th.col-md-1 Edit
      %th.col-md-1 Delete
  %tbody
    - collection.each do |x|
      %tr
        %td.patient-name= x.patient
        %td= link_to x.created_at.to_s(:stat), x
        %td= link_to 'Edit', edit_exam_path(x)
        %td= link_to 'Delete', :method =>:delete, :data => {:confirm => "Are you sure?"}
